[submodule "Render/ModularShaderLanguage"]
	path = modules/Render/ModularShaderLanguage
	url = https://github.com/akb825/ModularShaderLanguage
[submodule "Text/SheenBidi"]
	path = modules/Text/SheenBidi
	url = https://github.com/mta452/SheenBidi.git
