[submodule "Render/ModularShaderLanguage"]
	path = modules/Render/ModularShaderLanguage
	url = git://server.local/ModularShaderLanguage
[submodule "Text/SheenBidi"]
	path = modules/Text/SheenBidi
	url = https://github.com/mta452/SheenBidi.git
